@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* #html5qr-code-full-region {
  @apply flex flex-col items-center justify-center bg-theme-primary;
  color: #282c34;
  font-size: 12pt;
}

#html5qr-code-full-region__scan_region {
  @apply flex flex-col items-center justify-center;
}


@media(max-width: 640px) {
  #html5qr-code-full-region {
    width: 300px;
  }
}

@media(min-width: 640px) {
  #html5qr-code-full-region {
    width: 600px;
  }
} */

#qr-box-region {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
}

.animate__fadeOut {
  animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}